__pycache__
.idea
*.png
*.kra
piout
*.jpg
*.jpeg
*.webp
*.avif
htignore/universe-images
auth.txt
output_svgs
ususable
usable-unsued
*.zip
*.7z
htignore/comic-images
htignore/credentails.json
gallery.iml
imgdata
