RewriteEngine on
RewriteBase /gallery/

RewriteRule ^char/([a-zA-Z0-9\-]+)/?$ universe/main/$1 [L,QSA,R=308]

RewriteRule ^universe/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/?$ characterPage.php?char=$2&uni=$1 [L,QSA]
RewriteRule ^universe/([a-zA-Z0-9\-]+)/?$ index.php?uni=$1 [L,QSA]
RewriteRule ^universe-ai/([a-zA-Z0-9\-]+)/?$ index.php?uni=$1&withai=1 [L,QSA]
RewriteRule ^universe-ai/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/?$ characterPage.php?char=$2&uni=$1&withai=1 [L,QSA]
