/**/
.introImage {
    width: auto;
    max-height: 50vh;
}

.character-profile {
    font-family: system-ui, sans-serif;

    dt {
        font-family: monospace;
    }
}

.altText {
    padding: 1ch;
    min-height: 4em;
}
