/* Description List but table like */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 3px solid #7c7c7c;
    text-align: left;
    padding: 8px;
    box-sizing: border-box;
    height: 100%;
}

table {
    width: fit-content;
}

td[colspan] > button[type=submit] {
    width: 100%;
}

td:nth-child(3) > span {
    background-color: white;
    padding: 0.3em;
    color: black;
}

/*.border {border: 2px solid grey;}*/

dl.descLi {
    border: 3px solid #7c7c7c;
    margin: 0;

    div {
        padding: 1ch;
        border-top: 3px solid #7c7c7c;
    }

    div:first-child {
        border-top: none;
    }

    dd, dt {
        display: inline;
    }

    dd {
        margin-left: 0;
    }

    dt:after {
        content: ": ";
    }
}

.boolean.false {
    background-color: Tomato;
}

.boolean.true {
    background-color: MediumSeaGreen;
}
